---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca de">
    
        <div class="container mx-auto p-4">
            <h1 class="text-4xl font-bold">Acerca de...</h1>
            <p class="text-gray-700">
                Tecnólogo en Desarrollo de Software y futuro Ingeniero
                deSistemas, apasionado por la innovación y el aprendizaje
                continuo. Proactivo, adaptable y comprometido, disfruto trabajar
                en equipoy compartir conocimientos. Mi interés en la
                inteligencia artificialme ha llevado a entrenar modelos de
                difusión para la generaciónde imágenes. Busco desafíos que
                impulsen mi crecimientoprofesional y me permitan contribuir en
                un entorno colaborativo.
            </p>
        </div>

</Layout>
