---
import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
import Head from "../components/Head";
import Sidebar from "../components/Sidebar.tsx"; // ✅ Importación corregida
import "../styles/global.css";

const { title, frontmatter } = Astro.props;
const pageTitle = title ?? frontmatter?.title;
---

<!doctype html>
<html lang="en" >
	<head>
		<Head 
			title={pageTitle}
			description="Tu descripción personalizada aquí"
		/>
		<script is:inline>
		if (!localStorage.getItem('token')) {
			window.location.href = '/login';
		  }
		</script>
	</head>

	<body class="flex flex-col min-h-screen" title="">
		<Header client:load title="" />
		
		<!-- ✅ Aquí va el Sidebar corregido -->
		<Sidebar title="Menú Principal" client:load />
	
		<main class="flex-grow container mx-auto p-8">
			
			<slot />
		</main>
		
		<Footer title="" />
	</body>
	
</html>
