---

import Header from "../components/Header.tsx";
import Footer from "../components/Footer.tsx";
import "../styles/global.css";
const { title, frontmatter } = Astro.props;
const pageTitle = title ?? frontmatter?.title
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logoJB.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>

	<body class="flex flex-col min-h-screen" title="">
		<Header title="" />
		<main class="flex-grow conteiner mx-auto p-8">
			<slot />
		</main>
		<Footer title="" />
	</body>
</html>
